textarea{
    resize: none;
    border: none;
    background-color: #fafafa;
    border-radius: 12px;
    width: 350px;
    height: 350px;
    font-size: 20px;
    padding: 12px;
    color: #a0a0a0;
}

.contactphp{
    background-image: url("../images/background.png");
    height: 100%;
    color: #237d98;
}

.forms1{
    padding-top: 200px;
    margin-left: 170px;
}

.input{
    border: none;
    border-bottom: 1px solid #707070;
    width: 250px;
    height: 40px;
}

footer{
    margin-top: 900px;
}

