.theorie {
    background-image: url("../images/background.png");
    color: #237d98;
    height: 100vw;
}

.theorie h1 {
    padding-top: 200px;
    color: #237d98;
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 170px;
}

.theorie h2 {
    margin-bottom: 30px;
    margin-left: 170px;
}

.theorie p {
    padding-left: 170px;
}

.praktijk p{
    color: #ffffff;
    float: right;
    margin-top: -700px;
}

.praktijk h2{
    color: #ffffff;
    float: right;
    margin-top: -750px;
    padding-right: 810px;
}

.praktijk {
    margin-right: 100px;
    margin-top: -200px;
}

footer{
    margin-top: 500px;
}

.praktijktwee{
    color: #ffffff;
    margin-left: 170px;
    margin-top: -600px;
}